body {
  font-size: 16px;
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.completed {
  text-decoration: line-through;
  border: 1px solid red;
}

.container {
  width: 60%;
}

.button {
  flex-grow: 0;
  background: #d8d9db;
  display: inline-block;
  border: none;
  padding: 2rem 3rem;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.add-todo-input {
  padding: 0.5em;
  font-size: inherit;
  flex-grow: 2;
}

.button:hover,
.button:focus {
  background: #ebebeb;
}

.button:focus {
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
  background: #bbbcbe;
}

.button.reset {
  width: 100%;
}

.todos-list {
  height: 50vh;
  overflow-y: auto;
  border: 1px solid grey;
  list-style-type: none;
  padding-left: 0;
}

.todos-list > li {
  min-height: 2rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid grey;
}

.todos-list > li.completed {
  background-color: #282c34;
  color: #bbbcbe;
}

.todos-list > li {
  background-color: #ffffff36;
}
