.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.completed {
  text-decoration: line-through;
}

.container {
  width: 400px;
}

.count-display {
  font-size: 100px;
  margin-bottom: 100px;
}

.button {
  height: 100px;
  width: 50%;
  font-size: 40px;
  background: #d8d9db;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus {
  background: #ebebeb;
}

.button:focus {
  outline: 0;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
  background: #bbbcbe;
}

.button:last-child {
  background: #282c34;
  color: #ebebeb;
  border: solid #ebebeb 1px;
}

.button.reset {
  width: 100%;
}
